
.btn {
	display: inline-block;
	padding: 0px 35px;
	color: #ffffff;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 69px;
	text-align: center;
	text-transform: uppercase;
	border: 5px solid #ffffff;
	transition: 0.3s all ease;
	@media (min-width:991.98px){
		&:hover{
			background-color: #fff;
			color:#000;
			border-radius: 5px;
			
		}
	}
}
