.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 240px;
	width: 100%;
	z-index: 10;
	&__burger {
		cursor: pointer;
		display: block;
		position: absolute;
		top: 80px;
		left: 80px;
		width: 80px;
		height: 80px;
		background-color: #ffffff;
		transition: all 0.3s ease;
		span {
			position: absolute;
			left: 25px;
			background-color: #000;
			height: 4px;
			width: 30px;
			transition: all 0.3s ease;
			&:nth-child(1) {
				top: 25px;
			}
			&:nth-child(2) {
				top: 38px;
			}
			&:nth-child(3) {
				bottom: 25px;
			}
		}
		&.active span:nth-child(1) {
			transform: rotate(45deg);
			top: 38px;
		}
		&.active span:nth-child(3) {
			transform: rotate(-45deg);
			bottom: 38px;
		}
		&.active span {
			transform: scale(0);
			width: 40px;
			left: 20px;
		}
		&.active {
			left: 400px;
		}
		&.lock {
			display: none;
		}
	}

	&__menu {
		position: fixed;
		left: -110%;
		top: 0;
		width: 400px;
		height: 100%;
		background-color: #fff;
		transition: all 0.3s ease;
		opacity: 0;
		visibility: hidden;
		text-align: left;
		&.active {
			left: 0;
			opacity: 1;
			visibility: visible;
			transition: all 0.3s ease;
		}
	}
	&__label {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 200px;
		color: #ffffff;
		font-family: "Roboto Condensed", sans-serif;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 0.8px;
		line-height: 25px;
		text-transform: uppercase;
		transition: all 0.3s ease;
		opacity: 1;
		visibility: visible;
		z-index: 2;
		&.active {
			opacity: 0;
			visibility: hidden;
		}
	}
	&__logo {
		position: absolute;
		width: 200px;
		height: 64px;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		img {
			max-width: 100%;
		}
	}
}
.menu {
	padding: 40px 40px 40px 40px;
	&__row {
	}
	&__item {
		opacity: 0;
		visibility: hidden;
		position: fixed;
		top: 0;
		left: 0;
		transition: 0.5s all ease;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 2;
		&.active {
			opacity: 1;
			visibility: visible;
		}
	}
	&__column {
	}

	&__list {
		&-top {
			margin: 0px 0px 50px 0px;
		}
		&-small {
		}
	}

	&__link {
		color: #4a4a4a;
		font-family: "Roboto Condensed", sans-serif;
		font-size: 20px;
		font-weight: 700;
		line-height: 25px;
		display: block;
		border-bottom: 1px solid #cccccc;
		padding: 0px 0px 25px 0px;
		margin: 0px 0px 25px 0px;
		&-big {
			letter-spacing: 0.8px;
			text-transform: uppercase;
		}
		&-arrow {
			position: relative;
			margin: 0;
			&::after {
				content: "";
				position: absolute;
				height: 10px;
				width: 15px;
				top: 20%;
				right: 0px;
				background: url("../img/icons/arrow_down_menu.svg") 0 0 no-repeat;
				transition: 0.3s all ease;
			}
		}
		&-m {
			margin: 25px 0px 25px 0px;
		}
	}

	&__phone {
		display: inline-block;
		color: #4c4c4c;
		font-size: 25px;
		line-height: 30px;
		font-family: "Rubik One";
		margin: 0px 0px 25px 0px;
	}

	&__search {
		@extend .menu__link;
		width: 30px;
		height: 30px;
		display: block;
		padding: 0px 320px 0px 0px;
		background: url("../img/icons/search_icon.svg") right no-repeat;
		margin: 0px 0px 35px 0px;
	}

	&__logo {
		width: 120px;
		img {
			max-width: 100%;
		}
	}
}

.submenu {
	&__list {
		display: none;
		padding: 10px 0px 0px 0px;
		> li {
			position: relative;
			padding: 20px 0px 20px 80px;
			color: #4a4a4a;
			transition: 0.3s all ease;
		}
	}

	&__link {
		display: block;
		font-family: "Roboto Condensed", sans-serif;
		font-size: 25px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 25px;
		&.active {
			.header__burger {
				display: none;
			}
		}
	}
}

.item-menu {
	padding: 80px 40px 80px 480px;
	&__title {
		color: #4c4c4c;
		font-family: "Rubik One";
		font-size: 35px;
		letter-spacing: 2px;
		line-height: 45px;
		text-transform: uppercase;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 60px 0px 0px 0px;
	}

	&__column {
		flex: 0 0 25%;
	}

	&__card {
		padding: 40px 40px 60px 40px;
	}
	&__close {
		cursor: pointer;
		display: none;
		position: absolute;
		top: 80px;
		right: 80px;
		width: 80px;
		height: 80px;
		background-color: #ffffff;
		transition: all 0.3s ease;
		z-index: 100;
		span {
			position: absolute;
			left: 25px;
			background-color: #000;
			height: 4px;
			width: 30px;
			&:nth-child(1) {
				transform: rotate(45deg);
				top: 38px;
			}
			&:nth-child(2) {
				display: none;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
				bottom: 38px;
			}
		}
		&.active {
			display: block;
		}
	}
}
.card {
	display: flex;
	flex-direction: column;
	height: 100%;
	&__title {
		flex: 1 1 auto;
		color: #4a4a4a;
		font-family: "Roboto Condensed", sans-serif;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 0.8px;
		line-height: 25px;
		text-transform: uppercase;
		margin: 0px 0px 65px 0px;
	}

	&__img {
		padding: 0px 0px 44.5% 0px;
	}

	&__text {
		font-family: "Roboto Condensed", sans-serif;
		font-size: 20px;
		margin: 30px 0px 0px 0px;
	}
}
