@media (min-width: 991.98px) {
	.fullscreen1{
		&__map{
			&:hover{
				&::after{
					width: 100%;
					left: 0;
				}
			}
		}
	}
}
@media (max-width: 1199.98px) {
	.fullscreen1{
		&__content{
			padding: 160px 0px 50px 60px;
		}
		&__title{
			font-size: 25px;
		}
	}
}
@media (max-width: 767.98px) {
	.fullscreen1{
		&__arrow{
			bottom: 50px;
			right: 30px;
			transform: translateX(0);
		}
	}
}
@media (max-width: 680.98px) {
	.fullscreen1{
		justify-content: center;
		&__arrow{
			display: none;
		}
		&__content{
			max-width: 100%;
			padding: 20px;
		}
	}
}

@media (max-width: 575.98px) {
	.fullscreen1{
		align-items: center;
		&__content{
			padding: 100px 20px 20px 20px;
		}
		&__btn{
			margin: 0px 30px 0px 0px;
		}
		
	}
}
@media (max-width: 512.98px) {
	.fullscreen1{
		
		&__btn{
			margin: 0px 30px 30px 0px;
		}
		
	}
}
