@media (min-width: 991.98px) {
	.menu {
		&:hover {
			.submenu {
				&__list {
					position: static;
					display: block;
				}
			}
		}
		&__link {
			&-arrow {
				&:hover {
					&::after {
						transform: rotate(180deg);
					}
				}
			}
		}
	}
	.submenu {
		&__list {
			li {
				&:hover {
					color: #fff;
					box-shadow: 0 15px 25px rgba(57, 68, 84, 0.2);
					background-color: rgba(0, 0, 0, 0.7);
				}
			}
		}
	}
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}
