@media (max-width: 1439.98px) {
	.item-menu {
		&__column {
			flex: 0 0 33.333%;
		}
	}
}
@media (max-width: 1199.98px) {
	.header {
		height: 160px;
		&__burger {
			top: 40px;
			left: 60px;
		}
	}
	.item-menu {
		&__column {
			flex: 0 0 50%;
		}
		&__close {
			top: 20px;
			right: 20px;
		}
	}
}
@media (max-width: 1160.98px) {
	.header {
		&__menu {
			width: 300px;
			padding: 20px;
		}
		&__burger {
			&.active {
				left: 300px;
			}
		}
	}
	.submenu {
		&__list {
			li {
				padding: 20px;
			}
		}
	}
	.menu {
		&__search {
			padding: 20px 260px 40px 0px;
		}
	}
	.item-menu {
		padding: 80px 40px 80px 330px;
	}
}
@media (max-width: 991.98px) {
	.item-menu {
		&__title {
			font-size: 30px;
		}
		&__column {
			flex: 0 0 100%;
		}
		&__card {
			padding: 40px 20px 0px 40px;
		}
	}
}
@media (max-width: 767.98px) {
	.header {
		height: 120px;
		&__burger {
			top: 20px;
			left: 60px;
		}
		&__label {
			display: none;
		}
	}
	.item-menu {
		&__title {
			font-size: 20px;
		}
		&__row {
			margin: 0;
		}
		&__card {
			padding: 20px;
		}
	}
	.card {
		&__title {
			margin: 0px 0px 15px 0px;
		}
	}
}

@media (max-width: 575.98px) {
	.header {
		height: 90px;
		&__burger {
			width: 50px;
			height: 50px;
			top: 20px;
			left: 20px;
			span {
				position: absolute;
				left: 10px;
				background-color: #000;
				height: 4px;
				width: 30px;
				transition: all 0.3s ease;
				&:nth-child(1) {
					top: 10px;
				}
				&:nth-child(2) {
					top: 23px;
				}
				&:nth-child(3) {
					bottom: 10px;
				}
			}
			&.active span:nth-child(1) {
				transform: rotate(45deg);
				top: 23px;
			}
			&.active span:nth-child(3) {
				transform: rotate(-45deg);
				bottom: 23px;
			}
			&.active span {
				transform: scale(0);
				width: 30px;
				left: 10px;
			}
			&.active {
				left: 400px;
			}
		}
		&__logo {
			right: 115px;
		}
	}
}
