@import "base/null.scss";
@import "base/fonts";
@import "base/btn";
@import "base/links";

* {
	margin: 0;
	padding: 0;
}

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

@import "blocks/header";
@import "blocks/fullscreen1";
@import "blocks/fullscreen2";
@import "blocks/fullscreen3";
@import "blocks/fullscreen4";
@import "blocks/club";
@import "blocks/footer";

@import "media/header_media";
@import "media/fullscreen1_media";
@import "media/fullscreen2_media";
@import "media/fullscreen3_media";
@import "media/fullscreen4_media";
@import "media/club_media";
@import "media/footer_media";
